@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Controle de Estoque</h1>
    <p>
        Site serve para criar e ajudar a elaborar um controle de estoque,
        ele ajuda a controlar  entrada e saida de produto.
    </p>
</div>
